Package: com.lucasjackson.camshot
Name: camshot
Depends: 
Version: 0.0.6
Architecture: iphoneos-arm
Description: Take photos with the front or back camera from the command line\nUsage:\ncamshot -l(toggle landscape) -q(specify quality [highest 1 - lowest 3]) -o(specify output file) -f(toggle front facing)\nExample: camshot -front image.jpg
Maintainer: Lucas Jackson <lucasjackson5815@gmail.com>
Author: Lucas Jackson <lucasjackson5815@gmail.com>
Section: System
Tag: role::hacker
